@mixin list-item {
	position: relative;
	margin-left: -40px;
	width: 349px;
	height: 69px;
	border-radius: 15px 15px 15px 15px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
	list-style-type: none;
	cursor: pointer;
	overflow: hidden;
}

@mixin list-item-titre {
	width: 287px;
	height: 21px;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.09px;
	margin-top: 12px;
	padding-left: 12px;
}

@mixin list-item-p {
	width: 420px;
	height: 19px;
	margin-top: -10px;
	font-size: 14px;
	padding-left: 12px;
}